<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    <a  href="{{ path('app_front_book_index') }}"class="section">{{ 'app.ui.books' | trans }}</a>
    <div class="divider"> / </div>
    <div class="section active">{{ book.title }}</div>
</div>
