<div class="ui card">
    <div class="content">
        <div class="header">
            {{ book.title }}
        </div>
        <div class="meta">
            {{ book.description | monsieurbiz_richeditor_render_field }}
            <div class="ui divider hidden"></div>
            {{ 'sylius.ui.created_at' | trans }} : {{ book.createdAt | format_datetime() }}
        </div>
    </div>
    <div class="extra content">
        <a href="{{ path('app_front_author_show', {id: book.author.id}) }}" class="ui basic button">{{ 'app.ui.show_author' | trans }}</a>
    </div>
</div>
