{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.email.verification_token.subject'|trans({}, null, localeCode) }}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) : url('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) %}

    <h1 style="margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;" align="left">
        {{ 'sylius.email.verification_token.hello'|trans({}, null, localeCode) }} {{ user.username }}
    </h1>
    <p style="font-size: 16px; line-height: 1.5; color: #333333; margin: .4em 0 1.250em;">
        {{ 'sylius.email.verification_token.to_verify_your_email_address'|trans({}, null, localeCode) }}:
    </p>
    <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; text-align: center; margin: 30px auto; padding: 0;">
        <tr>
            <td align="center" style="word-break: break-word; font-family: 'Nunito Sans', Helvetica, Arial, sans-serif; font-size: 16px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                    <tr>
                        <td align="center" style="word-break: break-word; font-family: 'Nunito Sans', Helvetica, Arial, sans-serif; font-size: 16px;">
                            <a href="{{ url|raw }}" class="f-fallback button" target="_blank" style="color: #FFFFFF; border-color: #FF5D18; border-style: solid; border-width: 10px 20px; background-color: #FF5D18; display: inline-block; text-decoration: none; border-radius: 4px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16); -webkit-text-size-adjust: none; box-sizing: border-box;">
                                {{ 'sylius.email.verification_token.verify_your_email_address'|trans({}, null, localeCode) }}
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
