<div class="flex flex-wrap flex-main-between flex-cross-center w-full mt-lg mb-lg sm:flex-column sm:flex-cross-start sm:mb-sm">
    <div class="sm:mb-xs">
        <h1 class="h1 mt-n mb-xs">
            {{ 'sylius.ui.register_in_the_store'|trans }}
        </h1>
        <p class="m-n">{{ 'sylius.ui.create_a_new_customer_account'|trans }}</p>
    </div>
    <div class="ml-md sm:ml-n">
        <a class="btn btn--reversed pr-sm pl-sm" href="{{ path('sylius_shop_login') }}">
            {{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}
        </a>
    </div>
</div>
