{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<div class="choice flex flex-main-between w-full mb-md" {{ sylius_test_html_attribute('shipping-item') }}>
    <div class="flex-item-fluid">
        {{ form_row(form, sylius_test_form_attribute('shipping-method-checkbox')) }}
        {% if method.description is not null %}
            <p class="mt-xxs mb-n pl-xl text-xs text-tight">{{ method.description }}</p>
        {% endif %}
    </div>
    <div class="ml-sm text-600 text-md" {{ sylius_test_html_attribute('shipping-method-fee') }}>
        {{ money.convertAndFormat(fee) }}
    </div>
</div>
