{% extends '@SyliusShop/Account/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumb__link" href="{{ path('sylius_shop_homepage') }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">{{ 'sylius.ui.home'|trans }}</span>
            </a>
            <meta itemprop="position" content="1">
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumb__link" href="{{ path('sylius_shop_account_dashboard') }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">{{ 'sylius.ui.my_account'|trans }}</span>
            </a>
            <meta itemprop="position" content="2">
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <strong class="breadcrumb__current" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">{{ 'sylius.ui.change_password'|trans }}</span>
            </strong>
            <meta itemprop="position" content="3">
        </li>
    </ol>
{% endblock %}

{% block subcontent %}
    {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'novalidate': 'novalidate'}}) }}
        <div class="mb-lg">
            <h2 class="h2 mt-n mb-xs">
                {{ 'sylius.ui.change_password'|trans }}
            </h2>
            <p class="m-n">{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</p>
        </div>

        {{ sylius_template_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}

        <div class="w-2/3 sm:w-full">
            <div class="mb-sm">
                {{ form_row(form.currentPassword, sylius_test_form_attribute('current-password')) }}
            </div>
            <div class="mb-sm">
                {{ form_row(form.newPassword.first, sylius_test_form_attribute('new-password')) }}
            </div>
            <div class="mb-sm">
                {{ form_row(form.newPassword.second, sylius_test_form_attribute('confirmation-new-password')) }}
            </div>
        </div>

        {{ sylius_template_event('sylius.shop.account.change_password.form', {'form': form}) }}

        <button class="btn mt-sm" type="submit" {{ sylius_test_html_attribute('savchanges') }}>
            {{ 'sylius.ui.save_changes'|trans }}
        </button>
        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
