{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="pr-7xl pl-7xl md:p-n sm:p-n">
        <div class="mt-lg mb-lg sm:mb-sm">
            <h1 class="h1 mt-n mb-xs">
                {{ 'sylius.ui.reset_password'|trans }}
            </h1>
            <p class="m-n">{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</p>
        </div>

        {{ sylius_template_event('sylius.shop.request_password_reset_token.after_content_header') }}

        <div class="box p-lg pr-2xl pl-2xl md:p-lg sm:p-sm">
            {{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'novalidate': 'novalidate'}}) }}

            <div class="mb-md xl:w-1/2 lg:w-2/3 md:w-3/4">
                {{ form_row(form.email, sylius_test_form_attribute('reset-email')) }}
            </div>

            {{ sylius_template_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

            {{ form_row(form._token) }}
            <button class="btn sm:w-full" type="submit" {{ sylius_test_html_attribute('request-password-reset-button') }}>
                {{ 'sylius.ui.reset'|trans }}
            </button>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
