{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div class="pr-7xl pl-7xl md:p-n sm:p-n">
        <div class="mt-lg mb-lg sm:mb-sm">
            <h1 class="h1 mt-n mb-xs">
                {{ 'sylius.ui.reset_password'|trans }}
            </h1>
            <p class="m-n">{{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}</p>
        </div>

        <div class="box p-lg pr-2xl pl-2xl md:p-lg sm:p-sm">
            {{ form_start(form, {'action': path('sylius_shop_password_reset', {'token' : user.passwordResetToken}), 'attr': {'novalidate': 'novalidate'}}) }}
                <div class="xl:w-1/2 lg:w-2/3 md:w-3/4">
                    <div class="mb-sm">
                        {{ form_row(form.password.first, sylius_test_form_attribute('password-reset-new')|merge({'label': 'sylius.form.user_reset_password.new'|trans})) }}
                    </div>
                    <div class="mb-sm">
                        {{ form_row(form.password.second, sylius_test_form_attribute('password-reset-confirmation')|merge({'label': 'sylius.form.user_reset_password.confirmation'|trans})) }}
                    </div>
                </div>
                {{ form_row(form._token) }}
                <div class="mt-lg sm:mt-sm">
                    <button class="btn sm:w-full" type="submit" {{ sylius_test_html_attribute('login-password-reset-button') }}>
                        {{ 'sylius.ui.reset'|trans }}
                    </button>
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
