<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb__link" href="{{ path('sylius_shop_homepage') }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">{{ 'sylius.ui.home'|trans }}</span>
        </a>
        <meta itemprop="position" content="1">
    </li>
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb__link" href="{{ path('sylius_shop_account_dashboard') }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">{{ 'sylius.ui.my_account'|trans }}</span>
        </a>
        <meta itemprop="position" content="2">
    </li>
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <strong class="breadcrumb__current" itemscope itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">{{ 'sylius.ui.order_history'|trans }}</span>
        </strong>
        <meta itemprop="position" content="3">
    </li>
</ol>
