<div class="ui breadcrumb">
    <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
    <div class="divider"> / </div>
    <a  href="{{ path('app_front_author_index') }}"class="section">{{ 'app.ui.authors' | trans }}</a>
    <div class="divider"> / </div>
    <div class="section active">{{ author.fullName }}</div>
</div>
