<div class="card">
    <div class="content">
        <div class="header">
            {{ author.firstname }} {{ author.lastname }}
        </div>
        <div class="meta">
            {{ 'app.ui.author' | trans }}
        </div>
    </div>
    <div class="extra content">
        <a href="{{ path('app_front_author_show', {id: author.id}) }}" class="ui basic button">{{ 'app.ui.show' | trans }}</a>
        <a href="{{ path('app_front_author_books', {id: author.id}) }}" class="ui green basic button">{{ 'app.ui.show_books' | trans }}</a>
    </div>
</div>
